.App,
body {
  text-align: center;
  color: aliceblue;
  background-color: rgb(63, 58, 58);
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
  pointer-events: none;
}

.weather-data {
  display: flex;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}